.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    margin:0px;
    padding:0px;
}

#hero {
    background-image: url("images/Minas2.png");
    background-size: cover;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-family: "ADLaM Display", system-ui;
    color:#b68d7aff;
    background-color: #1f313bff;
    padding-left:8px;
    padding-right:8px;
    border-radius: 7px;
    text-align: justify;

}

#hero p{
    font-family: "ADLaM Display", system-ui;
    color:#1f313bff;
    background-color: #b68d7aff;
    padding-left:8px;
    padding-right:8px;
    border-radius: 7px;
    text-align: justify;

}

#info h2 {
    font-family: "ADLaM Display", system-ui;
    text-align: center;
    text-decoration: underline;
    font-size: 18;
}

#atractions {
    display: flex;
    justify-content: space-around;
    height: 520px;
    
}

.hosp, .comida, .natureza {
    width: 240px;
    height: 240px;
    margin: 10px;
   
    
}

#atractions img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100px;
    transition: border-radius 0.5s ease;
    align-items: center;
    justify-content: center;
    display:block;
    margin: 0 auto;
}

#atractions img:hover {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    object-fit: cover;

}
#atractions p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
#atractions h2{
    text-align: center;
    text-decoration: none;
}
#guide {
    
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #b68d7aff;
    margin: 3px auto;
    border-radius: 30px;
    border-bottom: 4px solid rgb(71, 46, 4);
    text-align: center;
    width: 470px;
    color: black;
    

}

#guide img {
    height:200px;
    margin-top: 1px;
    border-radius: 30px;
}

#guide p{
    text-align: justify;
    margin-left: 10px;
    margin-right:10px;
    font-family: "ADLaM Display", system-ui;
    font-size: 13px;
}
footer{
    background: white;
    padding:10px;
    text-align: center;
}